PORT=3000
NATS_SERVERS='nats://localhost:4222'

JWT_SECRET=<StringSuperStrong>
GOOGLE_CLIENT_ID=<CLIENT_ID_GOOGLE>
GOOGLE_CLIENT_SECRET=<CLIENT_SECRET_GOOGLE>
GOOGLE_REDIRECT_URIS=<REDIRECCIONAMIENTO>