PORT=3000
NATS_SERVERS='nats://localhost:4222'

GOOGLE_CLIENT_ID=<CLIENT_ID_GOOGLE>
GOOGLE_CLIENT_SECRET=<CLIENT_SECRET_GOOGLE>
GOOGLE_REDIRECT_URIS=<REDIRECCIONAMIENTO>

REDIS_PORT=<REDIS_PORT>
REDIS_HOST=<REDIS_HOST>
REDIS_PASSWORD=<REDIS_PASSWORD>

ENVIRONMENT=<ENVIRONMENT>